<p-table [value]="orders" [columns]="columns">
    <ng-template pTemplate="header">
        <tr>
            <th>Number</th>
            <th>Description</th>
            <th>Client</th>
            <th>Cost</th>
            <th>Seller</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.client_id }}</td>
            <td>{{ product.seller_id }}</td>
        </tr>
    </ng-template>

</p-table> 